.buttonCard {
  position: relative;
  background: #2E71F0;
  height: 100%;
  padding: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  width: 100%;
  border: 0;
  display: flex;
}

.icon {
  position: absolute;
  right: 24px;
  bottom: 24px;
  height: 48px;
}
