* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EEE;
  color: black;
}

#root {
  max-width: 413px;
  padding: 51px 22px;
  margin: 0 auto;
  overflow: auto;
}
